@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using MediaWiz.Forums.Interfaces
@using Umbraco.Extensions
@inject IViewCounterService _viewCounter
@inject IForumCacheService _cacheService

@{
    int.TryParse(Context.Request.Query["page"], out var pagenum);
    var posts = Model.Children.Where(x => x.IsDocumentType("Forumpost")).ToList();
    
    var pageSize = Model.HasValue("intPageSize") ? Convert.ToInt32(Model.Value("intPageSize")) : 5;
    var totalPages = (int)Math.Ceiling((double)posts.Count() / (double)pageSize);
    ViewBag.Page = pagenum;
    ViewBag.TotalPages = totalPages;
    if (posts.Any())
    {
        <div>
            <div class="wiz-topics">
                <div class="d-flex flex-row flex-wrap mb-3 p-2 color-white bg-secondary">
                    <div class="col-8">Topic</div>
                    <div class="col-2">Replies</div>
                    <div class="col-2">Views</div>
                </div>
                <div class="wiz-body m-0 mb-2">
                    @foreach (var post in posts.Skip((pagenum - 1) * pageSize).Take(pageSize)
                    .OrderByDescending(x => x.Value<int>("stickiness"))
                    .ThenByDescending(x => _cacheService.GetPost(x, "Topic_" + x.Id).latestPost))
                    {
                        @await Component.InvokeAsync("Posts",new {Template = "DisplayTopic",Model = post,showTitle = true})

                        //DisplayPost(post);
                    }
                </div>
            </div>
            @if (totalPages > 1)
            {
                @await Component.InvokeAsync("Navigation",new {Template = "PagerView", Model = Model})
            }
        </div>
    }
    else if (Model.HasValue("postAtRoot") && Model.Value<int?>("postAtRoot") == 1)
    {
        <div>
            <div class="wiz-topics">
                <div class="d-flex flex-row flex-wrap mb-3 p-2 color-white bg-secondary">
                    <div class="col-8">Topic</div>
                    <div class="col-2">Replies</div>
                    <div class="col-2">Views</div>
                </div>
                <div class="wiz-body m-0 mb-2">
                    <div class="d-flex wiz-topic-title col-sm-12">
                        <p>No posts yet, be the first to make one.</p>
                    </div>
                </div>
            </div>
        </div>
    }
}


