/*
    stylesheet for forums..
*/
.mediawiz-wrapper {
    padding: 0.6em;
}
a.desc:after {
    content: '';
}

a.asc:after {
    content: '';
}

legend {
    font-size: 1.2em;
    border-bottom: 2px solid black;
}

div.wiz-forum-info {
    margin-bottom: 0.9em;
}
div.wiz-forum-info p {
    margin-left: 0.6em;
}

div.wiz-reply-header {
    margin: 0;
    overflow: hidden;
    padding: 4px;
    clear: both
}

fieldset div.avatar {
    float: right
}
fieldset ul.wiz-admin-links {
    float: left
}
.post-count {
    text-align: center;
}

.forum-breadcrumb {
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    border-bottom: 1px solid black;
}
.forum-breadcrumb a {
    text-decoration: none;
}
    .forum-breadcrumb li {
        display: -webkit-flex;
        display: flex;
        list-style: none;
    }

.forum-breadcrumb li:not(:last-of-type) {
    margin: 0 5px;
}

.forum-breadcrumb li:last-of-type {
    margin-left: auto;
}

#mediawiz-forums .truncate {
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#mediawiz-forums {
    /*background: 0 0;*/
    clear: both;
    margin-bottom: 20px;
    overflow: hidden;
    line-height: 18px
}
#mediawiz-forums li {
    background: 0 0;
    margin: 0;
    list-style: none
}
#mediawiz-forums hr {
    margin: 0 0 24px
}

#mediawiz-forums li.wiz-header {
    color: #ffdaa5
}

#mediawiz-forums ul.wiz-topics,  #mediawiz-forums ul.wiz-replies {
    /*font-size: 0.9em !important;*/
    line-height: 28px
}

#mediawiz-forums p.wiz-topic-meta span > a {
    display: inline-block;
    padding: 0 5px
}

#mediawiz-forums p.wiz-topic-meta img.avatar {
    border: 0 !important;
    margin-bottom: -4px !important
}

#mediawiz-forums p.wiz-topic-meta {

    line-height: 22px !important
}

#mediawiz-forums li.wiz-body ul.forum, #mediawiz-forums li.wiz-body ul.topic {
    padding: 5px !important
}

#mediawiz-forums a {
    color: #111;
    text-decoration: none;
    box-shadow: none;
    border: none;
    transition: none
}
    #mediawiz-forums a.btn { color: #fff;}

        #mediawiz-forums a:hover {
        color: #111;
        text-decoration: underline;
    }

#mediawiz-forums ul, #mediawiz-forums.mediawiz-wrapper ul {
    background: 0 0;
    list-style: none;
    margin: 0;
    padding: 0
}

#mediawiz-forums div.even, #mediawiz-forums ul.even {
    background-color: #fff
}

#mediawiz-forums div.odd, #mediawiz-forums ul.odd {
    background-color: #fbfbfb
}

#mediawiz-forums div.reply {
    height: auto;
    width: 100%;
    box-sizing: border-box
}
#mediawiz-forums div.reply,  #mediawiz-forums div.wiz-reply-header {
    background-color:#f4f4f4;
}
#mediawiz-forums div.wiz-reply-footer {
    margin-bottom: 0.9em;
}
    #mediawiz-forums div.reply.solution, #mediawiz-forums div.wiz-reply-footer.solution, #mediawiz-forums div.wiz-reply-header.solution {
        background-color: #a4bda4;
    }
.wiz-reply-post-date {
    margin-right: .3em;
    float: right;
}
.wiz-author-name {
    margin-left:.3em;
}
#mediawiz-forums div.wiz-reply-header {
    background-color: #f4f4f4;
    margin-bottom: .7em;
}
ul.wiz-admin-links li a {
    text-decoration: none !important;
}

ul.wiz-admin-links li a:hover {
    text-decoration: none;
    font-weight: bold !important;
    color: #0000cd !important;
}

.tool-label {
    font-size: 0.7em;
}

#mediawiz-forums ul.status-closed, #mediawiz-forums ul.status-closed a {
    color: #ccc
}



#mediawiz-forums ul.wiz-replies, #mediawiz-forums ul.wiz-topics {
    font-size: 0.9em;
    overflow: hidden;
    margin-bottom: 20px;
    clear: both
}

#mediawiz-forums li.wiz-body, #mediawiz-forums li.wiz-header {
    clear: both
}

.flex-wrap.topic:hover {
    background-color: #eeeeee;
}

#mediawiz-forums li.wiz-header {
    font-weight: 700;
    padding: 8px;
    background: #f4f4f4
}

#mediawiz-forums li.wiz-header ul {
    overflow: hidden
}

#mediawiz-forums .topic .wiz-reply-header {
    background-color: #333;
    color: white;
}
#mediawiz-forums li.topic {
    margin-top: 0.6em;
}
.wiz-topics > div.wiz-body > div.topic {
    background-color: #eee;
    margin-bottom: 0.3em;
    
}

#mediawiz-forums li.topic.locked .wiz-reply-header {
    background-color: darkred;
}
.wiz-topics > div.wiz-body > div.solved {
    background-color: #8fbc8f;
    margin-bottom: 0.3em;
    border: 1px solid #777;
}

#mediawiz-forums li.topic.locked div.wiz-topic-meta:before {
    font-family: bootstrap-icons !important;
    content: '\F47B';
}

#mediawiz-forums li.wiz-body ul.forum, #mediawiz-forums li.wiz-body ul.topic {
    border-top: 1px solid #eee;
    overflow: hidden;
    padding: 8px
}

#mediawiz-forums div.wiz-reply-author {
    float: left;
    text-align: center;
    width: 6%;
    background-color: #fff;
}

#mediawiz-forums div.wiz-reply-author img.avatar {
    border: none;
    max-width: 80px;
    padding: 0;
    margin: 12px auto 0;
    float: none
}

#mediawiz-forums div.wiz-reply-author .wiz-author-name{
    margin: 0 12px;
    word-wrap: break-word;
    display: inline-block
}

#mediawiz-forums div.wiz-reply-author .wiz-author-name {
    clear: left;
    display: block
}

#mediawiz-forums div.wiz-reply-author .wiz-author-role{
    /*font-size: 11px;*/
    font-style: italic
}

#mediawiz-forums li.wiz-header .wiz-reply-author {
    float: left;
    margin: 0;
    padding: 0;
    width: 12.5%
}

#mediawiz-forums li.wiz-header .wiz-reply-content, #mediawiz-forums li.wiz-header .wiz-topic-content {

    padding: 0;
    text-align: left
}

#mediawiz-forums div.wiz-reply-content, #mediawiz-forums div.wiz-topic-content {
    text-align: left;
    position: relative
}

#mediawiz-forums div.wiz-reply-content a, #mediawiz-forums div.wiz-topic-content a {
    background: 0 0;
    border: none;
    display: inline;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-decoration: underline
}

#mediawiz-forums div.wiz-reply-content h1, #mediawiz-forums div.wiz-reply-content h2, #mediawiz-forums div.wiz-reply-content h3, #mediawiz-forums div.wiz-reply-content h4, #mediawiz-forums div.wiz-reply-content h5, #mediawiz-forums div.wiz-reply-content h6, #mediawiz-forums div.wiz-topic-content h1, #mediawiz-forums div.wiz-topic-content h2, #mediawiz-forums div.wiz-topic-content h3, #mediawiz-forums div.wiz-topic-content h4, #mediawiz-forums div.wiz-topic-content h5, #mediawiz-forums div.wiz-topic-content h6 {
    clear: none;
    line-height: 1;
    margin: 24px 0;
    padding: 0
}

#mediawiz-forums div.wiz-reply-content img, #mediawiz-forums div.wiz-topic-content img {
    max-width: 100%;
    height: auto
}

#mediawiz-forums div.wiz-reply-content ol, #mediawiz-forums div.wiz-reply-content ul, #mediawiz-forums div.wiz-topic-content ol, #mediawiz-forums div.wiz-topic-content ul {
    margin: 0 15px 0;
    padding: 0
}

#mediawiz-forums div.wiz-reply-content ul li, #mediawiz-forums div.wiz-topic-content ul li {
    list-style-type: disc
}

#mediawiz-forums div.wiz-reply-content ol li, #mediawiz-forums div.wiz-topic-content ol li {
    list-style-type: decimal
}

#mediawiz-forums div.wiz-reply-content ol li li, #mediawiz-forums div.wiz-topic-content ol li li {
    list-style-type: lower-alpha
}

#mediawiz-forums div.wiz-reply-content ol li li li, #mediawiz-forums div.wiz-topic-content ol li li li {
    list-style-type: upper-roman
}

#mediawiz-forums div.wiz-reply-content code, #mediawiz-forums div.wiz-reply-content pre, #mediawiz-forums div.wiz-topic-content code, #mediawiz-forums div.wiz-topic-content pre {
/*    font-family: Inconsolata,Consolas,Monaco,"Lucida Console",monospace;*/
    display: inline-block;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 0 5px;
    max-width: 95%;
    vertical-align: middle;
    margin-top: -3px;
    overflow-x: auto
}

#mediawiz-forums div.wiz-reply-content pre, #mediawiz-forums div.wiz-topic-content pre {
    display: block;
    line-height: 18px;
    margin: 0 0 24px;
    padding: 5px 10px;
    white-space: pre;
    overflow: auto
}

#mediawiz-forums div.wiz-reply-content pre code, #mediawiz-forums div.wiz-topic-content pre code {
    display: block;
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    overflow-wrap: normal;
    overflow: auto;
    max-width: 100%
}

span.wiz-admin-links, ul.wiz-admin-links {
    float: right;
    color: #ddd
}

span.wiz-admin-links a, span.wiz-admin-links a:visited, ul.wiz-admin-links a, ul.wiz-admin-links a:visited {
    color: goldenrod;
    font-weight: 400;
    /*font-size: 10px;*/
    /*text-transform: uppercase;*/
    text-decoration: none
}

ul.wiz-admin-links a:hover {
    font-weight: 900;
    text-decoration: none
}

#mediawiz-forums img.avatar {
    box-shadow: none;
    display: inline-block;
    margin-right: 4px
}

#mediawiz-forums h1 {
    clear: none;
    font-size: 1.8em;
    line-height: 1;
    padding-bottom: 10px
}
.wiz-topic-started-by {
    font-size: smaller;
    color: #cccccc;
}
#menu .nav-link {
    padding-left: 0 !important;
    color: #111;
}
.mce-content-body img {
    max-width: 99% !important;
    height: auto;
}
.delete-member-file {
    cursor: pointer;
}
#mediawiz-forums div.wiz-reply-content img:before, #mediawiz-forums div.wiz-topic-content img:before {
    content: ' ';
    display: block;
    position: absolute;
    height: 50px;
    width: 50px;
    background-image: url('../not-found.jpg');
}
@media only screen and (max-width:480px) {
    span .wiz-admin-links {
        float: none;
        clear: both
    }

    #mediawiz-forums .wiz-body div.wiz-reply-author {
        float: none;
        margin: 10px;
        min-height: 80px;
        padding-left: 80px;
        position: relative;
        text-align: left;
        width: calc(100% - 100px);
        border-bottom: 1px solid #efefef;
        box-sizing: content-box
    }

    #mediawiz-forums div.wiz-reply-author .wiz-author-name {
        clear: none;
        display: inline-block;
        margin-left: 0;
        word-wrap: break-word
    }

    #mediawiz-forums div.wiz-reply-author img.avatar {
        position: absolute;
        top: 0;
        left: 0;
        width: 60px;
        height: auto;
        margin-top: 0
    }

    #mediawiz-forums div.wiz-reply-author .wiz-author-role {
        font-size: 0.9em;
        font-style: normal
    }

    #mediawiz-forums .wiz-body div.wiz-reply-content, #mediawiz-forums .wiz-body div.wiz-topic-content {
        clear: both;
        margin: 0 10px 5px 10px;
        padding: 0
    }

    #mediawiz-forums div.wiz-reply-content p, #mediawiz-forums div.wiz-topic-content p {
        margin-bottom: 1em
    }

        #mediawiz-forums div.wiz-reply-content p:last-child, #mediawiz-forums div.wiz-topic-content p:last-child {
            margin-bottom: 0
        }
}

@media only screen and (max-width:320px) {

    #mediawiz-forums li.wiz-header {
        /*font-size: 10px*/
    }

        #mediawiz-forums li.wiz-header div.wiz-reply-author {
            text-align: left;
            width: 25%
        }

        #mediawiz-forums li.wiz-header div.wiz-reply-content, #mediawiz-forums li.wiz-header div.wiz-topic-content {
            margin-left: 25%
        }

    #mediawiz-forums p.wiz-topic-meta img.avatar {
        width: 14px;
        height: auto;
        max-height: 14px;
        max-width: 14px
    }

}

@media only screen and (max-width:240px) {

    #mediawiz-forums li.wiz-header div.wiz-reply-author, #mediawiz-forums li.wiz-header div.wiz-reply-content, #mediawiz-forums li.wiz-header div.wiz-topic-content {
        margin-left: 0;
        text-align: left
    }

    #mediawiz-forums li.wiz-header {
        overflow: hidden
    }

    #mediawiz-forums li.wiz-body div.wiz-reply-author {
        min-height: 60px;
        padding-left: 60px
    }

    #mediawiz-forums div.wiz-reply-author img.avatar {
        width: 40px;
        height: auto
    }

}

 .right-sidebar {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #e5e7f2;
    padding-bottom: 0;
    background: #f7f9fb;
}

.forumfooter {
    position: absolute;
    bottom: 0px;
    height: 0px;
    width: 100%;
    left: 0px;
    right: 0px;

    display: inline-block;
    cursor: pointer;
    background: #aaaaaa;
}
.w-10 {
    width: 10%;
}
#fPostForm {
    margin-left: 1em;
}
.forum-reply-form {
    margin-left: 1em;
}
blockquote {
    border-left: 4px solid #ddd;
    padding: 0 15px;
    color: #777;
}