@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Forum>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "ForumMaster.cshtml";
}
<div class="row" id="fInfo">
    <div class="col">
        @await Html.PartialAsync("Forums/_ForumInfo")
    </div>
</div>
<div class="row" id="fForums">
    <div class="col">
        @await Html.PartialAsync("Forums/_ListForums")
    </div>
</div>
<div class="row" id="fTopics">
    <div class="col" >
        @await Html.PartialAsync("Forums/_ListPosts")
    </div>
</div>
<div class="row" id="fPostForm">
    <div class="col">
        @await Html.PartialAsync("Forums/_CreatePost")
    </div>
</div>