@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Members>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "ForumMaster.cshtml";

    int.TryParse(Context.Request.Query["page"], out var pagenum);
    if (pagenum == 0)
    {
        pagenum = 1;
    }
    var pageSize = Model.HasValue("intPageSize") ? Model.Value("intPageSize") : 10;
    ViewBag.Page = pagenum;
    var isLoggedIn = Context.User?.Identity?.IsAuthenticated ?? false;
}
@section ForumHeader{
    <meta name="robots" content="noindex,nofollow" />
}
@if (isLoggedIn)
{
    <div class="wiz-forum-info">
        <div class="page-header">
            <h3>@Model.Value("title")</h3>
        </div>
        <div class="forum-intro">
            @Html.Raw(Model.Value("message"))
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            @await Html.PartialAsync("Forums/_Members")
        </div>
    </div>
}


