@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    Layout = "ForumMaster.cshtml";
}
@section ForumHeader{
    <meta name="robots" content="noindex,nofollow" />
}

<div class="wiz-forum-info">
    <div class="page-header">
        <h3>@Model.Value("title")</h3>
    </div>
    <div class="forum-intro">
        @Html.Raw(Model.Value("message"))
    </div>
</div>
@await Component.InvokeAsync("ForumMembership",new {Template = "EditProfile",qryUser = Context.Request.Query["user"].ToString()})
@section ForumScripts
    {
    <script>
        $('.nav-tabs button').on('shown.bs.tab', function (event) {

            var x = $(event.target).text();         // active tab
            var y = $(event.relatedTarget).text();  // previous tab console.log($(event));
            console.log(x);
            if (x === "Files") {
                $("#nav-files").load("/memberfiles/" + $("#nav-files").data("id"));
            }
        });
    </script>
}