@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<MediaWiz.Core.Controllers.VerifyViewModel>

@{
    Layout = "ForumMaster.cshtml";
    var success = TempData["ValidationSuccess"] != null;
    var error = TempData["ValidationError"] != null;
}
@section ForumHeader{
    <meta name="robots" content="noindex,nofollow" />
    @if (success)
    {
        <meta http-equiv="Refresh" content="5;url=/Forums" />
    }

}
<div class="wiz-forum-info">
    <div class="page-header">
        <h3>@Model.Value("title")</h3>
    </div>
    <div class="forum-intro">
        @Html.Raw(Model.Value("message"))
    </div>
</div>

@if (success)
{
    <p class="text-success">Validation succeeded. You may now login and begin posting</p>
}
@if (error)
{
    <p class="text-warning">Validation failed. @TempData["ValidationError"]</p>
}