@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<MediaWiz.Forums.ViewModels.SearchViewModel>
@using MediaWiz.Forums.Interfaces
@using Umbraco.Extensions

@{
    Layout = "ForumMaster.cshtml";

    int.TryParse(Context.Request.Query["page"], out var pagemum);
    if (pagemum == 0)
    {
        pagemum = 1;
    }
    var pageSize = Model.HasValue("intPageSize") ? Model.Value<int>("intPageSize") : 10;
    var totalPages = (int)Math.Ceiling((double)Model.TotalResults / (double)pageSize);
    ViewBag.Page = pagemum;
    ViewBag.TotalPages = totalPages;
}
<div class="wiz-forum-info">
    <div class="page-header">
        <h3>@Model.Value("title")</h3>
    </div>
    <div class="forum-intro">
        @Html.Raw(Model.Value("message"))
    </div>
</div>
<div>
    @if (Model.PagedResult.Any())
    {
        <div class="wiz-topics">
            <div class="d-flex flex-row flex-wrap mb-3 p-2 color-white bg-secondary">
                <div class="col-8">Topic</div>
                <div class="col-2">Replies</div>
                <div class="col-2">Views</div>
            </div>
            <div class="wiz-body">
                @foreach (var result in Model.PagedResult)
                {
                    var post = Umbraco.Content(result.Id);
                    @await Component.InvokeAsync("Posts",new {Template = "DisplayTopic",Model = post,showTitle = true})

                }
                @if (totalPages > 1)
                {
                    @await Component.InvokeAsync("Navigation",new {Template = "PagerView", Model = Model})
                }
            </div>

        </div>

    }
    else
    {
        <p>No active Topics </p>
    }
</div>
