<div class="mb-3" id="captcha-check">
    <h5>Confirm Humanity</h5>
    <p>
        Before we continue, we need to confirm you are a sentient being (it's a spam thing).Please type the answer to the question in the image below and click the 'Not a Robot' button.
    </p>
    <div id="div-captcha">
        <div class="form-group">
            <a href="#" title="Click to refresh"><img alt="Captcha" src="/umbraco/surface/forumssurface/CaptchaImage" style="" /></a>
        </div>
        <div class="form-group">
            <input type="text" name="Captcha" id="Captcha" class="form-control" placeholder="Answer" />
        </div>
    </div>
    <p>&nbsp;</p>
    <div class="pull-right flip">
        <button class="btn-captcha btn btn-primary" id="btn-captcha" type="button">Not a Robot</button>
    </div>
</div>
