@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Forum>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@*
    displays the basic's of a forum (tite and intro)
*@

<div class="wiz-forum-info">
    <div class="page-header">
        <h3>@Model.ForumTitle</h3>
    </div>
    <div class="forum-intro">
        @Html.Raw(Model.ForumDescription)
    </div>
</div>