@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<MediaWiz.Core.Models.ForumForgotPasswordModel>

@if (TempData["ResetSent"] != null && (bool)TempData["ResetSent"] == true)
{
    <h2>Reset Request Sent</h2>
    <p>
        We have sent a password reset message to the email on your account, please
        check your email and follow the link to reset your password.
    </p>

    return;
}
<div class="mb-3" id="forgotten-submit" style="display: none;">
    @using (Html.BeginUmbracoForm("PasswordReset", "ForumsSurface", null, new { @id = "captcha-form-id" }, FormMethod.Post))
    {
        <hr />
        <div class="form-group">
            <div class="mb-3 col-sm-4">
                @Html.LabelFor(m => Model.EmailAddress, new { @class = "control-label" })
                @Html.TextBoxFor(m => Model.EmailAddress, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => Model.EmailAddress)
            </div>
        </div>
        @Html.ValidationSummary(true)
        <div class="form-group">
            <input type="submit" value="Send reset request" class="btn btn-primary"   />
        </div>
    }
</div>

